version: '3'

services:
  mariadb:
    container_name: mariadb
    init: true
    restart: always
    env_file:
      - .env
    build: ./requirements/mariadb
    ports:
      - "3306:3306"
    volumes:
      - mariadb:/var/lib/mysql
    networks:
      - inception
    image: mariadb
  wordpress:
    container_name: wordpress
    init: true
    restart: always
    env_file:
      - .env
    build: ./requirements/wordpress
    ports:
      - "9000:9000"
    volumes:
      - wordpress:/srv/www/wordpress
    networks:
      - inception
    depends_on:
      - mariadb
    image: wordpress
  nginx:
    container_name: nginx
    init: true
    restart: always
    env_file:
      - .env
    build: ./requirements/nginx
    ports:
      - "443:443"
      - "80:80"
    volumes:
      - wordpress:/srv/www/wordpress
    networks:
      - inception
    depends_on:
      - mariadb
      - wordpress
    image: nginx

volumes:
  mariadb:
  wordpress:

networks:
  inception:
    name: inception
    driver: bridge
